﻿@using MyMVCApplication.Models


@model MyMVCApplication.Models.Student

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StudentId)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div>
    @Html.DropDownListFor(m => m.StudentGender,
            new SelectList(Enum.GetValues(typeof(Gender))),
            "Select Gender")
</div>

<div>
    @Html.LabelFor(m => m.StudentName)
</div>

<div>
    StudentId:      @Html.EditorFor(m => m.StudentId) <br />
    Student Name:   @Html.EditorFor(m => m.StudentName) <br />
    Age:            @Html.EditorFor(m => m.Age)<br />
    Password:       @Html.EditorFor(m => m.Password)<br />
    isNewlyEnrolled: @Html.EditorFor(m => m.isNewlyEnrolled)<br />
    DoB:            @Html.EditorFor(m => m.DoB)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
